main{
  z-index:1;
  position:relative;
}
header{
  z-index:999;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  padding:0 20px;
  .header_inner{
    height:90px;
  }
  .header_nav{
    display:none;
    z-index:888;
    position:fixed;
    bottom:0;
    right:0;
    width:100%;
    height:calc(100vh - 90px);
    padding:30px 20px;
    background:#52667b url("../img/mobile-nav-hero.jpg") no-repeat bottom center;
    background-size:100% auto;
    overflow:scroll;
    li{
      display:block;
      margin-bottom:20px;
      margin-right:30px;
      &:last-child{
        margin-right:0;
      }
      &.active{
        a{
          text-decoration:underline;
        }
      }
    }
    a{
      font-size:2rem;
      font-weight:600;
      text-transform:uppercase;
      color:white;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
.nav-btn{
  display:block;
  z-index:999;
  position:absolute;
  top:34px;
  right:20px;
  width:26px;
  height:26px;
  span{
    display:block;
    width:26px;
    height:3px;
    background:var(--primary);
    @include transition(all 0.25s $easeOutExpo);
    &:first-child{
      margin-bottom:5px;
    }
    &:last-child{
      margin-top:5px;
    }
  }
  &.open{
    display:flex;
    flex-direction: column;
    justify-content: center;
    top:32px;
    span{
      &:first-child{
        margin-bottom:0;
        transform:rotate(45deg);
      }
      &:nth-child(2){
        display:none;
      }
      &:last-child{
        margin-top:-3px;
        transform:rotate(-45deg);
      }
    }

  }
}
@media screen and (min-width: 48em) {
  body, html{
    overflow:scroll !important;
  }
  header{
    padding:0 60px;
    .header_nav{
      display:flex !important;
      z-index:999;
      position:absolute;
      top:0;
      right:60px;
      width:auto;
      height:auto;
      padding:0;
      background:transparent;
      overflow:scroll;
      li{
        display:inline-block;
        margin-bottom:0;
        margin-right:30px;
        &:last-child{
          margin-right:0;
        }
      }
      a{
        font-size:1.4rem;
      }
      .grid-line_left-white, .grid-line_right-white{
        display:none;
       }
    }
  }
  .nav-btn, .nav-btn.open{
    display:none;
  }
}

footer{
  display:flex;
  justify-content: center;
  background:#ebebeb;
  padding:140px 0 30px 0;
  margin-top:-60px;
  text-align:center;
  &.footer-short{
    padding:60px 0 30px 0;
    margin-top:0px;
  }
  .container--sm{
    padding:10px;
  }
  .footer_right{
    padding-left:0px;
    margin-top:2em;
    border-top:1px solid rgba(0,0,0,0.15);
  }
  .footer_logo{
    height:32px;
    img{
      display:inline-block;
    }
  }
  .footer_nav{
    height:auto;
    padding-top:2em;
    ul{
      margin:0 auto;
    }
    li{
      display:block;
      margin-right:0;
      margin-bottom:10px;
      &:last-child{
        margin-right:0;
      }
      &.active{
        a{
          color:var(--red);
          text-decoration: underline;
        }
      }
    }
    a{
      font-size:1.3rem;
      font-weight:600;
      text-transform:uppercase;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .copyright{
    font-size:1.4rem;
    font-weight:400;
  }
}
@media screen and (min-width: 48em) {
  footer{
    display:block;
    padding:240px 0 60px 0;
    margin-top:-120px;
    &.footer-short{
      padding:120px 0 60px 0;
    }
    text-align:left;
    .container--sm{
      padding:0 60px;
    }
    .footer_right{
      margin-top:0;
      border-top:none;
      padding-left:30px;
    }
    .footer_logo{
      img{
        display:block;
      }
    }
    .footer_nav{
      height:32px;
      padding-top:0;
      ul{
        margin:0;
      }
      li{
        display:inline-block;
        margin-right:20px;
        margin-bottom:0;
        &:last-child{
          margin-right:0;
        }
      }
    }
  }
}


.grid-line_left, .grid-line_middle, .grid-line_right{
  z-index:0;
  position:fixed;
  top:0;
  width:1px;
  height:100%;
  background:rgba(0,0,0,0.12);
}
.grid-line_left{
  left:9px;
}
.grid-line_middle{
  display:none;
  left:50%;
}
.grid-line_right{
  right:9px;
}

.grid-line_left-white, .grid-line_middle-white, .grid-line_right-white{
  z-index:2;
  position:absolute;
  top:0;
  width:1px;
  height:100%;
  background:rgba(255,255,255,0.35);
}
.grid-line_left-white{
  left:9px;
}
.grid-line_middle-white{
  display:none;
  left:50%;
}
.grid-line_right-white{
  right:9px;
}

@media screen and (min-width: 48em) {
  .grid-line_middle, .grid-line_middle-white{
    display:block;
  }
  .grid-line_left{
    left:30px;
  }
  .grid-line_right{
    right:30px;
  }
  .grid-line_left-white{
    left:30px;
  }
  .grid-line_right-white{
    right:30px;
  }
}


